<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laura Bootstrap Theme</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- =======================================================
        Theme Name: Laura
        Theme URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
        Author: BootstrapMade.com
        Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>

  <!-- sf images - 
  https://www.google.com/search?q=golden+gate+bridge&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiVuI3os5nVAhUS0GMKHdfdCUEQ_AUICigB&biw=1800&bih=1125#tbm=isch&q=golden+gate+bridge&chips=q:golden%20gate%20bridge,g_2:high%20resolution,g_2:hd%20wallpaper&imgrc=jsy2gssOqs1YjM:
  -->
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="myFunction()">
  <div class="header">
      <div class="bg-color">
        <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lauraMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#main-header">Itzel Martinez</a>
            </div>
            <div class=" avenir-font collapse navbar-collapse" id="lauraMenu">
              <ul class="nav navbar-nav navbar-right navbar-border">
                <li><a href="#about">About Me</a></li>
                <!-- <li><a href="#education">Education</a></li> -->
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolio">Projects</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#awards">Awards</a></li>
                <li><a href="#contact">Contact Me</a></li>
              </ul>
            </div>
          </div>
        </nav>
        </header>
        <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="banner-text">
                <h2>Hi, I am <span>Itzel Martinez</span></h2>
                <p>A Creative Software Engineer <br>& Enthusiastic Entrepreneur</p>
              </div>

              <div>
                <ul class="social-list">
                  <li>
                    <a href="https://www.linkedin.com/in/itzeljm/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
              
                  <li>
                    <a href="https://twitter.com/itzeljm9">
                        <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/itzeljm">
                        <i class="fa fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="overlay-detail text-center">
                  <a href="#about"><i class="fa fa-angle-down"></i></a>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>

  <!-- About Me Section -->
  <section id="about" class="avenir-font section-padding ">
    <div class="container">
      <div class="row">

        <!-- <div class="col-md-12">
          <div class="title text-center">
            <h2>About Me</h2>
          </div>
        </div> -->

        <div class="col-md-12">
          <h2 class="title text-center"> About Me </h2>
        </div>

        <!-- About Me text -->
        <div class="col-md-6 text-left">
          <div class="title-text">
            <p>I am a recent graduate from the University of California, Berkeley where I majored in Electrical Engineering and Computer Science. </p>
            <p>&nbsp;</p>
            <!-- <p>I am currently looking for full-time job opportunities in the Bay Area where I can use both my creative and technical side to develop products that make an impact. I have previous experience in software and product development.</p> -->
            <p>I am passionate about using my creativity and technical skills to develop products that make an impact.</p>
            <p>&nbsp;</p>

            <p>Fun Facts: </p>
            <ul style="list-style-type:circle">
              <li>Originally from Downtown LA</li>
              <li>I enjoy playing the piano</li>
              <li>Like to play soccer and skateboard</li>
              <li>Love everything VR!</li>

            </ul>
            <p>&nbsp;</p>
          </div>

        </div>


        <!--  About Me Image -->
        <div class="col-md-6 text-right ">
          <img src="assets/gradpic.jpg" class="img-responsive">
        </div>

      </div>
    </div>
  </section>
  <!-- End section for About Me  -->


  <!--education-->
  <section class="avenir-font section-padding bg-color education white-text feedback" id="education">

    <div class="container">
      <div class="col-md-12">
        <h2 class="title text-center">Education<span class="deco"></span> </h2>
      </div>
    </div>
    
    <div class="container">
      <div class="col-md-12 ">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4>B.S. IN COMPUTER SCIENCE AND ENGINEERING (CSE)</h4>
            <h5>AUG 2013 - MAY 2017</h5>
            <img class="circular-image" src="assets/seal.png"/>
            <p>UC Berkeley Grad. GO BEARS!</p>
          </div>
        </div>  
      </div>
    </div>    
  </section>
  <!-- End of education section -->

  <!--MyResume Template skills Section-->
  <section class="avenir-font section-padding specialties" id="skills">
    <div class="container">

      <div class="col-md-12">
        <h2 class="title text-center">My Skills<span class="deco"></span> </h2>
      </div>

      <!-- <div class="heading text-center">
        <h2 class="title text-center"> My Skills<span class="deco"></span> </h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dolor sit amet lacus ultricies rutrum. Curabitur vitae fringilla elit. Sed at nunc congue, cursus erat ac, pellentesque eros. Etiam ullamcorper sed lectus sit amet mattis. Morbi justo sem, cursus nec convallis a, pellentesque eu mi. Morbi hendrerit ultricies ligula </h3>
      </div> -->
    </div>  
      
    <div class="container ">
      <div class="row"> 
        <!--  first column set of skills -->
        <div class="col-md-6 " >
          <div class="skill">    

            <div class="progress-wrap">
              <h3>Java</h3>
              <div class="progress">
                <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                <span class="bar-width">95%</span>
                </div>

              </div>
            </div>

            <div class="progress-wrap">
              <h3>HTML</h3>
              <div class="progress">
                <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                 <span class="bar-width">95%</span>
                </div>
              </div>
            </div>

            <div class="progress-wrap">
              <h3>CSS</h3>
              <div class="progress">
                <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                <span class="bar-width">95%</span>
                </div>
              </div>
            </div>

            <div class="progress-wrap">
              <h3>Python</h3>
              <div class="progress">
                <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="bar-width">80%</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--  second column set of skills Ruby on Rails, SQL, Javascript, Ruby, Swift, C -->
        <div class="col-md-6"  >
          <div class="skill">    

            <div class="progress-wrap">
              <h3>Ruby on Rails</h3>
              <div class="progress">
                <div class="progress-bar  color5" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="bar-width">60%</span>
                </div>

              </div>
            </div>

            <div class="progress-wrap">
              <h3>SQL</h3>
              <div class="progress">
                <div class="progress-bar color7" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                 <span class="bar-width">70%</span>
                </div>
              </div>
            </div>

            <!-- <div class="progress-wrap">
              <h3>Javascript</h3>
              <div class="progress">
                <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="bar-width">90%</span>
                </div>
              </div>
            </div>

            <div class="progress-wrap">
              <h3>Python</h3>
              <div class="progress">
                <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="bar-width">80%</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        
        <!-- <div class="col-md-6 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.6s"">
          <img src="assets/gradpic.jpg" class="img-responsive">
        </div> --> 

      </div>  
    </div>

  </section>  
  

  <!-- start of video technical projects  section -->
  <section class="avenir-font gallery section-padding" id="portfolio">
    <div class="container">
      <div class="row grid">

        <div class="col-md-12">
          <h2 class="title text-center">Technical Projects</h2>
          <!-- UR ios APP video -->
        </div>

        <div class="heading text-center">       
          <h3>Below are some demos of my personal technical projects</h3>
        </div>

        <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/mDUddukEUsM" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Django Dashboard Admin Tool</h3>
                <p>Developed an internal tool with a CRUD interface that allows the AdTech Service team and engineers to efficiently fix issues for the Ad orders of corporate clients.</p>
              </figcaption>
            </figure>
        </div>

        <div class="col-md-4">
            <figure>
              <div class="video">
               <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gk7CxHAr1t4" frameborder="0" allowfullscreen></iframe>
              </div>

              <figcaption class="white-text">
                <h3>Web Development - JINA Web Simulator</h3>
                <p>Implemented a virtual simulation <a href="http://www.engineerforaday.tk/">www.engineerforaday.tk </a> using Ruby on Rails that introduces middle school students to the life of a software engineer.</p>
              </figcaption>
            </figure>
        </div>



        <div class="col-md-4">
            <figure>
              <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/JzClfPY0G_0" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Web Development - Smile Website </h3>
                <p>Developed the frontend and backend using Ruby on Rails and working extensively with HTML, CSS, and Javascript. I used JS to add animations to enhance the UI and make requests to the server to get and create smiles.</p>
              </figcaption>
            </figure>
        </div>

        <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Us46XD5oADo" frameborder="0" allowfullscreen></iframe></div>
              <figcaption class="white-text">
                <h3>Android App - Ice Flickster</h3>
                <p>Designed and implemented an app that pulls data from the movie database API and displays images along with a description of top movies.</p>
              </figcaption>
            </figure>
        </div>

        <div class="col-md-4">
            <figure>
              <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/eu0OHwPRPXA" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>iOS App - UR</h3>
                <p>Designed and developed an application on Xcode to provide compliments to the users by name. The purpose is to boost the users self-esteem, and confidence.</p>
              </figcaption>
            </figure>
        </div>


        <!-- <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AWdA7hdP4ZA?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>iOS App - Appex</h3>
                <p>Programmed a card game using a randomized algorithm and a point value system that determines the highest value of two Solitaire cards.</p>
              </figcaption>
            </figure>
        </div> -->


        <!-- <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AWdA7hdP4ZA?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Product Development - Carpool Casually Mobile App</h3>
                <p>Developed and managed a semester-long mobile app project centered around solving the commuting problem in the Bay Area. Designed product and developed UI/UX for the app, updated backlog on a weekly basis, and conducted user interviews.</p>
              </figcaption>
            </figure>
        </div> -->

        <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cxs5CoxZWRE" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Product Development - Certify Web Platform </h3>
                <p>Designed and mocked up a skill development web platform <a href="http://itzeljm9.wixsite.com/certify">www.certify.com</a> for the education system in India  </p>
              </figcaption>
            </figure>
        </div>

        <div class="col-md-4">
            <figure>
              <div class="video">
               <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jt1Vesb580U" frameborder="0" allowfullscreen></iframe>

              </div>

              <figcaption class="white-text">
                <h3>Product Development - MentorRoom </h3>
                <p>Designed the entire flow of the platform for the <a href="https://www.mentorroom.co/">www.mentorroom.co</a> website.</p>
              </figcaption>
            </figure>
        </div>

        <div class="col-md-4">
            <figure>
              <div class="video">
               <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n21fknPkni4?list=PLMKfrmDz1Tk2wchzaNsnJ0Bg55uCQl5BL" frameborder="0" allowfullscreen></iframe>
              </div>

              <figcaption class="white-text">
                <h3>Animation - Flowering Short-Film</h3>
                <p>Animated the dog movements for the first 20 seconds of the short-film, and created the model of the dog bowl with food.</p>
              </figcaption>
            </figure>
        </div>

      </div>
    </div>
  </section>
  <!-- end of video gallery section -->
<!-- 
  <div class="tab-pane" id="portfolio">
    <section id="section-works" class="section appear clearfix">
      <div class="container">       
        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2>Portfolio</h2>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
            </div>
          </div>
        </div>        
          <div class="row">
            <nav id="filter" class="col-md-12 text-center">
              <ul>
                <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                <li><a href="#"  class="btn-theme btn-small" data-filter=".webdesign" >Web Design</a></li>
                <li><a href="#"  class="btn-theme btn-small" data-filter=".photography">Photography</a></li>
                <li ><a href="#" class="btn-theme btn-small" data-filter=".print">Print</a></li>
              </ul>
            </nav>
            <div class="col-md-12">
              <div class="row">
                <div class="portfolio-items isotopeWrapper clearfix" id="3">                
                <article class="col-md-4 isotopeItem webdesign">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img10.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img10.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>

                <article class="col-md-4 isotopeItem photography">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img11.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img11.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                      </div>                       
                     </div>
                  </div>
                </article>
                
                <article class="col-md-4 isotopeItem photography">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img12.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img12.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>

                <article class="col-md-4 isotopeItem print">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img13.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img13.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>

                <article class="col-md-4 isotopeItem photography">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img14.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img14.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>

                <article class="col-md-4 isotopeItem webdesign">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img15.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img15.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>

                <article class="col-md-4 isotopeItem print">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img16.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img16.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>

                <article class="col-md-4 isotopeItem photography">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img17.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img17.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>

                <article class="col-md-4 isotopeItem print">
                  <div class="portfolio-item">
                    <img src="img/portfolio/img18.jpg" alt="" />
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Portfolio name</a></h5>
                        <a href="img/portfolio/img18.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>
                </div>                                      
              </div>
            </div>
          </div>
      </div>
    </section>                     
  </div -->>


  <!-- Download resume section -->
  <!-- <a href="#" class="avenir-font download"><h2>Download My Resume</h2></a> -->



  <!-- Laura Boostrap Portfolio Section -->
  <!-- <section id="portfolio" class="section-padding wow fadeInUp delay-05s">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title text-center">Checkout my Projects</h2>
        </div>
        <div class="col-md-12">
          <div id="myGrid" class="grid-padding">
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/portfolio01.jpg" class="img-responsive">
            <img src="assets/port01.jpg" class="img-responsive">
            <img src="assets/port02.jpg" class="img-responsive">
            <img src="assets/portfolio01.jpg" class="img-responsive">
          </div>
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/portfolio02.jpg" class="img-responsive">
            <img src="assets/port01.jpg" class="img-responsive">
            <img src="assets/port02.jpg" class="img-responsive">
            <img src="assets/portfolio01.jpg" class="img-responsive">
            <img src="assets/port03.jpg" class="img-responsive">
          </div>
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/port01.jpg" class="img-responsive">
            <img src="assets/portfolio01.jpg" class="img-responsive">
            <img src="assets/portfolio02.jpg" class="img-responsive">
            <img src="assets/port03.jpg" class="img-responsive">
            <img src="assets/portfolio02.jpg" class="img-responsive">
            <img src="assets/port02.jpg" class="img-responsive">
          </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Testimonials section -->
  <!-- <section id="testimonial" class="section-padding wow fadeInUp">
    <div class="container">
      <div class="row">
        <h2 class="title text-center">See What Our <span class="deco">Client</span> Are Saying ?</h2>
        <div class="test-sec">
          <div class="col-sm-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">John Doe</span> <span class="testimonials-post">CEO,  Company Inc.</span> </div>
            </div>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">John Doe</span> <span class="testimonials-post">CEO,  Company Inc.</span> </div>
            </div>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">John Doe</span> <span class="testimonials-post">CEO,  Company Inc.</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End of Testimonials section -->

  <!-- professional experience - removed bg-color education  -->
  <section class="avenir-font section-padding feedback" id="experience"> 
    <div class="container">
      <div class="col-md-12">
        <h2 class="title text-center">Professional Experience<span class="deco"></span> </h2>
      </div>
    </div>
    
    <div class="container">

      <div class="col-md-3" >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4><b>INTERNATIONAL COMPUTER SCIENCE INSTITUTE</b></h4>
            <h4>Student Intern</h4>
            <h5>FEB 2014 - AUG 2015</h5>
            <img class="square-image" src="assets/icsi.jpg"/>
            <p class="text-left" >Developed curriculum for a Massive Open Online Course about online privacy, and used HTML and CSS to update the <a href="http://www.teachingprivacy.org/">teachingprivacy.org</a> website through WordPress.</p>
          </div>
        </div>  
      </div>

      <div class="col-md-3" >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">     
            <h4><b>LAWRENCE BERKELEY NATIONAL LAB</b></h4>
            <!-- <h4>Research Project: Local Power Distribution (Nanogrids)</h4> -->
            <h4>Student Intern</h4>
            <h5>SEP 2015 - DEC 2015</h5>
            <img class="square-image" src="assets/lbnl.png"/>
            <p class="text-left">Performed research to develop a visual simulation for a Nanogrid project and translated old code from Python into Java.</p>
          </div>
        </div>  
      </div>

      <div class="col-md-3" >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4><b>PANDORA</b></h4>
            <h4>Software Engineering Intern</h4>
            <h5>MAY 2016 - AUG 2016</h5>
            <img class="square-image" src="assets/pandora.png"/>
            <p class="text-left">Developed a Django admin dashboard for Ad services using Python. The internal tool grants permission to the Ad Tech Service team and engineers to efficiently fix issues for Ad orders of corporate clients.</p>

          </div>
        </div>  
      </div>

      <div class="col-md-3" >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4><b><a href="https://www.mentorroom.co/">MENTORROOM</a></b></h4>
            <h4>Co-founder</h4>
            <h5>AUG 2016 - PRESENT</h5>
            <a href="https://www.mentorroom.co/"><img class="mr-square" src="assets/mr.jpg"/></a>
            <p class="text-left">Founded and launched a closed beta pilot program in partnership with Google to test the idea of virtual mentorship. Managed 50 students and 50 Google mentors throughout the course of 3 months. Raised $20,000 in funding, pitched at startup competitions at Stanford University, and received the OZY Genius Award.</p>
          </div>
        </div>  
      </div>

    </div>

  </section>
  <!-- End of professional experience section -->


  <!-- Leadership experience start section -->
  <section class="leadership white-text avenir-font section-padding feedback"> 
    <div class="container">
      <div class="col-md-12">
        <h2 class="title text-center">Leadership Experience<span class="deco"></span> </h2>
      </div>
    </div>
    
    <div class="container">
      <div class="col-md-6" >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4><b>CODE2040</b></h4>
            <h4>Fellow 2016</h4>
            <h5>MAY 2016 - AUG 2016</h5>
            <img class="section-padding mr-square" src="assets/white2040.png"/>
            <p class="text-left">Participated in an intensive summer career accelerator, Hack4Diversity Hackathon, and Raising the Industry Bar Summit.</p>
          </div>
        </div>  
      </div>

      <div class="col-md-6" >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">     
            <h4><b>HISPANIC ENGINEERS AND SCIENTISTS SOCIETY</b></h4>
            <h4>Internal Vice President</h4>
            <h5>MAY 2015 - MAY 2016</h5>
            <img class="square-image" src="assets/hes.png"/>
            <p class="text-left">Coordinated four monthly retention and fundraising events for a club over 40 members, and lead a social committee.</p>

          </div>
        </div>  
      </div>

    </div>

  </section>
  <!-- End of leadership experience section -->


  <!-- Awards  start section -->
  <section class="avenir-font section-padding feedback" id="awards"> 
    <div class="container">
      <div class="col-md-12">
        <h2 class="title text-center">Awards<span class="deco"></span> </h2>
      </div>
    </div>
    
    <div class="container">
      <div class="col-md-6" >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4><b>CAA THE ACHIEVEMENT AWARD</b></h4>
            <h4>Scholar 2013</h4>
            <h5>AUG 2013 - AUG 2017</h5>
            <img class="square-image section-padding" src="assets/caa.png"/>
            <p class="text-left">The Achievement Award Program (TAAP) serves high-achieving, community-minded students from the moment they choose UC Berkeley through their undergraduate career, providing both financial assistance and supportive programming.</p>
          </div>
        </div>  
      </div>

      <div class="col-md-6" >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">     
            <h4><b>EUGENE L. LAWLER EECS DEPARTMENTAL AWARD</b></h4>
            <h4>Award Recipient</h4>
            <h5>APR 2016</h5>
            <img class="square-image section-padding" src="assets/berkeng.jpg"/>
            <p class="text-left">The Lawler Prize honors a computer science undergraduate or reentry student from a disadvantaged group or who has surmounted unusual difficulties in pursuing a degree and has demonstrated academic effort.</p>
          </div>
        </div>  
      </div>

    </div>

  </section>
  <!-- End of awards section -->

  <!-- Contact section -->
  <section id="contact" class="avenir-font section-padding ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="contact-sec text-center">
            <h2>Want To <span class="deco">Contact</span> Me?</h2>

            <h3>Connect with my on <a href="https://www.linkedin.com/in/itzeljm/">LinkedIn</a></h3>
            <!-- <h2>Send me an email: itzeljm9@gmail.com</h2> -->
            <!-- <p>Please feel free to contact me about job opportunities.</p> -->

          </div>
        </div>


        
        <!-- <div class="col-md-8 col-md-push-2">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                </div>

                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                </div>
                
                <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Send Message</button></div>
            </form>
        </div> -->
        
      </div>
    </div>
  </section>
  <!-- End of contact section -->

  
  <!-- Scrollup Section -->
  <!-- <a href="#" class="scrollup"><i class="fa fa-chevron-up"> </i></a> -->



  <footer class="avenir-font footer-2 text-center-xs bg--white">
    <div class="container">
      <!--end row-->
      <div class="row">
          <div class="col-md-6">
              <div class="footer">
                  Made with excitement :D by Itzel Martinez
                    <div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Laura
                        -->
                        <!-- 
                        Template by <a href="https://bootstrapmade.com/">BootstrapMade.com</a> -->
                    </div>
              </div>
          </div>
          <div class="col-md-6 text-right">
              <ul class="social-list">
                  <li>
                      <a href="https://www.linkedin.com/in/itzeljm/">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
            
                  <li>
                      <a href="https://twitter.com/itzeljm9">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/itzeljm">
                          <i class="fa fa-github"></i>
                      </a>
                  </li>
              </ul>
          </div>
          
      </div>
      <!--end row-->
    </div>
  </footer>
  
    <script src="assets/jquery.min.js"></script>
    <script src="assets/jquery.easing.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery.bxslider.min.js"></script>
    <script src="assets/wow.js"></script>
    <script src="assets/custom.js"></script>
    <!-- <script src="contactform/contactform.js"></script> -->
    
  </body>
</html>