<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laura Bootstrap Theme</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- =======================================================
        Theme Name: Laura
        Theme URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
        Author: BootstrapMade.com
        Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="myFunction()">
  <div class="header">
      <div class="bg-color">
        <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lauraMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#main-header">Itzel Martinez</a>
            </div>
            <div class=" avenir-font collapse navbar-collapse" id="lauraMenu">
              <ul class="nav navbar-nav navbar-right navbar-border">
                <li><a href="#about">About Me</a></li>
                <li><a href="#portfolio">Projects</a></li>
                <li><a href="#testimonial">Testimonial</a></li>
                <li><a href="#contact">Contact Me</a></li>
              </ul>
            </div>
          </div>
        </nav>
        </header>
        <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12 wow fadeIn delay-05s">
              <div class="banner-text">
                <h2>Hi, I am <span>Itzel Martinez</span>,</h2>
                <p>A Creative Software Engineer <br>& Enthusiastic Entrepreneur</p>
              </div>
              <div class="overlay-detail text-center">
                  <a href="#about"><i class="fa fa-angle-down"></i></a>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>

  <!-- About Me Section -->
  <section id="about" class="avenir-font section-padding wow fadeIn delay-05s">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title text-center"> About Me<span class="deco"></span> </h2>
        </div>

        <!-- About Me text -->
        <div class="col-md-6 text-left">
          <div class="title-text">
            <p>I am a recent graduate from the University of California, Berkeley where I received a degreee in Electrical Engineering and Computer Science. </p>
            <p>&nbsp;</p>
            <p>I am currently looking for full-time job opportunities in the Bay Area where I can use both my creative and technical side to develop products that make an impact. I have previous experience being a software engineer and developing products.</p>
            <p>&nbsp;</p>

            <p>Fun Facts: </p>
            <ul style="list-style-type:circle">
              <li>Originally from Downtown LA</li>
              <li>I enjoy playing the piano</li>
              <li>Love Thai food</li>
            </ul>

          </div>
        </div>

        <!--  About Me Image -->
        <div class="col-md-6 text-right ">
          <img src="assets/gradpic.jpg" class="img-responsive">
        </div>

      </div>
    </div>
  </section>
  <!-- End section for About Me  -->


  <!--education-->
  <section class="avenir-font section-padding bg-color education white-text feedback" id="feedback">

    <div class="container">
      <div class="col-md-12">
        <h2 class="title text-center">Education<span class="deco"></span> </h2>
      </div>
    </div>
    
    <div class="container">
      <div class="col-md-12 wow" data-wow-offset="0">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4>B.S. IN COMPUTER SCIENCE AND ENGINEERING (CSE)</h4>
            <h5>AUG 2013 - MAY 2017</h5>
            <img class="circular-image" src="assets/seal.png"/>
            <p>UC Berkeley Grad. GO BEARS!</p>
          </div>
        </div>  
      </div>
    </div>    
  </section>
  <!-- End of education section -->

  <!--MyResume Template skills Section-->
  <section class="avenir-font section-padding specialties" id="specialties">
    <div class="container">

      <div class="col-md-12">
        <h2 class="title text-center">My Skills<span class="deco"></span> </h2>
      </div>

      <!-- <div class="heading text-center">
        <h2 class="title text-center"> My Skills<span class="deco"></span> </h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dolor sit amet lacus ultricies rutrum. Curabitur vitae fringilla elit. Sed at nunc congue, cursus erat ac, pellentesque eros. Etiam ullamcorper sed lectus sit amet mattis. Morbi justo sem, cursus nec convallis a, pellentesque eu mi. Morbi hendrerit ultricies ligula </h3>
      </div> -->
    </div>  
      
    <div class="container ">
      <div class="row"> 
        <!--  first column set of skills -->
        <div class="col-md-6 wow" data-wow-offset="0" data-wow-delay="0.3s"">
          <div class="skill">    

            <div class="progress-wrap">
              <h3>Java</h3>
              <div class="progress">
                <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                <span class="bar-width">95%</span>
                </div>

              </div>
            </div>

            <div class="progress-wrap">
              <h3>HTML</h3>
              <div class="progress">
                <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                 <span class="bar-width">90%</span>
                </div>
              </div>
            </div>

            <div class="progress-wrap">
              <h3>CSS</h3>
              <div class="progress">
                <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="bar-width">90%</span>
                </div>
              </div>
            </div>

            <div class="progress-wrap">
              <h3>Python</h3>
              <div class="progress">
                <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="bar-width">80%</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--  second column set of skills Ruby on Rails, SQL, Javascript, Ruby, Swift, C -->
        <div class="col-md-6 wow" data-wow-offset="0" data-wow-delay="0.3s"">
          <div class="skill">    

            <div class="progress-wrap">
              <h3>Ruby on Rails</h3>
              <div class="progress">
                <div class="progress-bar  color5" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="bar-width">60%</span>
                </div>

              </div>
            </div>

            <div class="progress-wrap">
              <h3>SQL</h3>
              <div class="progress">
                <div class="progress-bar color7" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                 <span class="bar-width">70%</span>
                </div>
              </div>
            </div>

            <!-- <div class="progress-wrap">
              <h3>Javascript</h3>
              <div class="progress">
                <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="bar-width">90%</span>
                </div>
              </div>
            </div>

            <div class="progress-wrap">
              <h3>Python</h3>
              <div class="progress">
                <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="bar-width">80%</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        
        <!-- <div class="col-md-6 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.6s"">
          <img src="assets/gradpic.jpg" class="img-responsive">
        </div> --> 

      </div>  
    </div>

  </section>  
  

  <!-- start of video gallery section -->
  <section class="avenir-font gallery section-padding" id="portfolio">
    <div class="container">
      <div class="row grid">

        <div class="col-md-12">
          <h2 class="title text-center">Technical Projects</h2>
        </div>

        <div class="heading text-center">       
          <h3>Below are some demos of my personal technical projects</h3>
        </div>

        <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/mDUddukEUsM" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Web Development - Django Admin Tool</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
            </figure>
        </div>

        <div class="col-md-4">
            <figure>
              <div class="video">
               <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gk7CxHAr1t4" frameborder="0" allowfullscreen></iframe>
              </div>

              <figcaption class="white-text">
                <h3>Web Development - JINA Web Simulator</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
            </figure>
        </div>

       <!--  <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AWdA7hdP4ZA?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Web Development - Smile Website </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
            </figure>
        </div> -->

        <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Us46XD5oADo" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Android App - Ice Flickster</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
            </figure>
        </div>


        <!-- <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AWdA7hdP4ZA?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>iOS App - Appex</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
            </figure>
        </div> -->


        <!-- <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AWdA7hdP4ZA?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Product Development - Carpool Casually Mobile App</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
            </figure>
        </div> -->

        <div class="col-md-4">
            <figure>
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cxs5CoxZWRE" frameborder="0" allowfullscreen></iframe></div>

              <figcaption class="white-text">
                <h3>Product Development - Certify Web Platform </h3>
                <p>Designed and mocked up a skill development web platform for students in India </p>
              </figcaption>
            </figure>
        </div>

      </div>
    </div>
  </section>
  <!-- end of video gallery section -->



  <!-- Download resume section -->
  <!-- <a href="#" class="avenir-font download"><h2>Download My Resume</h2></a> -->



  <!-- Laura Boostrap Portfolio Section -->
  <!-- <section id="portfolio" class="section-padding wow fadeInUp delay-05s">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title text-center">Checkout my Projects</h2>
        </div>
        <div class="col-md-12">
          <div id="myGrid" class="grid-padding">
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/portfolio01.jpg" class="img-responsive">
            <img src="assets/port01.jpg" class="img-responsive">
            <img src="assets/port02.jpg" class="img-responsive">
            <img src="assets/portfolio01.jpg" class="img-responsive">
          </div>
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/portfolio02.jpg" class="img-responsive">
            <img src="assets/port01.jpg" class="img-responsive">
            <img src="assets/port02.jpg" class="img-responsive">
            <img src="assets/portfolio01.jpg" class="img-responsive">
            <img src="assets/port03.jpg" class="img-responsive">
          </div>
          <div class="col-md-4 col-sm-4 padding-right-zero">
            <img src="assets/port01.jpg" class="img-responsive">
            <img src="assets/portfolio01.jpg" class="img-responsive">
            <img src="assets/portfolio02.jpg" class="img-responsive">
            <img src="assets/port03.jpg" class="img-responsive">
            <img src="assets/portfolio02.jpg" class="img-responsive">
            <img src="assets/port02.jpg" class="img-responsive">
          </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Testimonials section -->
  <!-- <section id="testimonial" class="section-padding wow fadeInUp">
    <div class="container">
      <div class="row">
        <h2 class="title text-center">See What Our <span class="deco">Client</span> Are Saying ?</h2>
        <div class="test-sec">
          <div class="col-sm-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">John Doe</span> <span class="testimonials-post">CEO,  Company Inc.</span> </div>
            </div>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">John Doe</span> <span class="testimonials-post">CEO,  Company Inc.</span> </div>
            </div>
          </div>
          <div class="col-sm-4">
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamsed commodo nibh ante facilisis bibendum dolor feugiat at. </p>
            </blockquote>
            <div class="carousel-info">
              <div class="pull-left"> <span class="testimonials-name">John Doe</span> <span class="testimonials-post">CEO,  Company Inc.</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End of Testimonials section -->



  <!-- professional experience - removed bg-color education 

Pandora Software Engineering Intern May 2016 - Aug 2016
Developed a Django admin dashboard for Ad services using Python. The internal tool grants permission to the Ad Tech
Service team and engineers to efficiently fix issues for Ad orders of corporate clients.
Lawrence Berkeley National Lab Intern - Research Project: Local Power Distribution (Nanogrids) Sept 2015 - Dec 2015 Performed research to develop a visual simulation for a Nanogrid project and translated old code from Python into Java.
International Computer Science Institute Intern Feb 2014 - Aug 2015
Developed curriculum for a Massive Open Online Course about online privacy, and used HTML and CSS to update the teachingprivacy.org website through WordPress.
  -->

  <section class="avenir-font section-padding feedback" id="feedback"> 

    <div class="container">
      <div class="col-md-12">
        <h2 class="title text-center">Professional Experience<span class="deco"></span> </h2>
      </div>
    </div>
    
    <div class="container">
      <div class="col-md-4 wow" data-wow-offset="0">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4>PANDORA</h4>
            <h4>Software Engineering Intern</h4>
            <h5>MAY 2016 - AUG 2016</h5>
            <img class="square-image" src="assets/pandora.png"/>
            <p class="text-left">Developed a Django admin dashboard for Ad services using Python. The internal tool grants permission to the Ad Tech Service team and engineers to efficiently fix issues for Ad orders of corporate clients.</p>

          </div>
        </div>  
      </div>

      <div class="col-md-4 wow" data-wow-offset="0">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4>LAWRENCE BERKELEY NATIONAL LAB</h4>
            <!-- <h4>Research Project: Local Power Distribution (Nanogrids)</h4> -->
            <h4>Student Intern</h4>
            <h5>SEP 2015 - DEC 2015</h5>
            <img class="square-image" src="assets/lbnl.png"/>
            <p class="text-left">Performed research to develop a visual simulation for a Nanogrid project and translated old code from Python into Java.</p>
          </div>
        </div>  
      </div>

      <div class="col-md-4 wow" data-wow-offset="0">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">                       
            <h4>INTERNATIONAL COMPUTER SCIENCE INSTITUTE</h4>
            <h4>Student Intern</h4>
            <h5>FEB 2014 - AUG 2015</h5>
            <img class="square-image" src="assets/icsi.jpg"/>
            <p class="text-left" >Developed curriculum for a Massive Open Online Course about online privacy, and used HTML and CSS to update the teachingprivacy.org website through WordPress.</p>
          </div>
        </div>  
      </div>

    </div>




  </section>
  <!-- End of professional experience section -->

  <!-- Contact section -->
  <section id="contact" class="avenir-font section-padding wow fadeIn delay-05s">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="contact-sec text-center">
            <h2>Want To <span class="deco">Contact</span> Me?</h2>
            <p>Please feel free to contact me about job opportunities.</p>
          </div>
        </div>
        
        <div class="col-md-8 col-md-push-2">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                </div>
                
                <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Send Message</button></div>
            </form>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End of contact section -->

  
  <!-- Scrollup Section -->
  <!-- <a href="#" class="scrollup"><i class="fa fa-chevron-up"> </i></a> -->



  <footer class="avenir-font footer-2 text-center-xs bg--white">
    <div class="container">
      <!--end row-->
      <div class="row">
          <div class="col-md-6">
              <div class="footer">
                  © Copyright Laura Theme. All Rights Reserved
                    <div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Laura
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
                    </div>
              </div>
          </div>
          <div class="col-md-6 text-right">
              <ul class="social-list">
                  <li>
                      <a href="#">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
            
                  <li>
                      <a href="#">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-github"></i>
                      </a>
                  </li>
              </ul>
          </div>
          
      </div>
      <!--end row-->
    </div>
  </footer>
  
    <script src="assets/jquery.min.js"></script>
    <script src="assets/jquery.easing.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery.bxslider.min.js"></script>
    <script src="assets/wow.js"></script>
    <script src="assets/custom.js"></script>
    <!-- <script src="contactform/contactform.js"></script> -->
    
  </body>
</html>