<!DOCTYPE html>
<html>
  <head>
  <!-- https://stackoverflow.com/questions/185965/rails-how-to-change-the-title-of-a-page way to change title of tab -->
    <title>Itzel Martinez</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
